@media (max-width: 1200px) {
  .welcome {
    &-menu {
      margin-right: 60px;
    }
    &-logo {
      margin-left: 60px;
    }
    &-title {
      font-size: 62px;
      margin-top: 50px;
    }
  }
}
@media (max-width: 991px){
  .welcome {
    &-logo  {
      margin: 0;
    }
    &-menu {
      margin: 0;
    }
    .label {
      margin: 0 auto;
    }
    
  }
}
@media(max-width:767px) {
  .welcome {
    .menu-toggle {
      display: block;
    }
    .menu-sm-none {
      display: none;
    }
    &-descr {
      width: auto;
    }
  }
}