.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  display: none;
  .active {
    display: block;
  }
  ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 50%;
    li {
      margin-bottom: 20px;
      a {
        color: #f4f5f9;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}
