.shape {
  padding: 50px 0 130px 0;
  &-wrap {
    width: 240px;
    min-height: 210px;
    overflow: hidden;
    margin: 0 auto;
    &:hover {
      .shape-wrap {
        &__quadra {
          border: solid 1px $main-color;
          transform: rotate(45deg);
          img {
            transform: rotate(-45deg);
          }
        }
        &__title {
          color: $main-color;
        }
      }
    }
    &__quadra {
      margin: 0 auto;
      margin-top: 20px;
      width: 88px;
      height: 88px;
      border: solid 1px #999;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
      img {
        transform: rotate(0);
        transition: all 0.5s;
      }
    }
    &__title {
      margin-top: 40px;
      text-align: center;
      transition: all 0.5s;
    }
    &__label {
      width: 44px;
      height: 3px;
      background-color: #6a6a6a;
      opacity: 0.7;
      margin: 0 auto;
      margin-top: 10px;
    }
    &__descr {
      margin-top: 5px;
      color: #999999;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
    }
  }
}

@media (max-width: 1199px) {
  .shape {
    &-flex {
      display: flex;
      flex-wrap: wrap;
    }
    &-wrap {
      width: 310px;
    }
  }
}
@media (max-width: 991px) {
  .shape {
    &-wrap {
      width: 200px;
    }
  }
}
@media (max-width: 767px) {
  .shape {
    &-wrap {
      width: 310px;
      margin-top: 40px;
    }
  }
}
