.todo {
  background-color: #f5f5f5;
  .form-control {
    border-color: #007bff;
  }
  .feedback {
    display: none;
  }
  .item {
    display: flex;
    justify-content: space-between;
    .complete-item {
      color: #80cfa9;
    }
    .edit-item {
      color: #11b5e4;
    }
    .delete-item {
      color: #d62828;
    }
    .completed {
        text-decoration: line-through;
        opacity: 0.5;
    }
  }
  .item-icon {
    font-size: 1.2rem;
    cursor: pointer;
  }
  .visibility {
      opacity: 0.5;
  }
  .showItem {
      display: block;
  }
}
