@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
h1,
h2,
h3,
h4 {
  margin: 0;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #999999;
  text-align: center;
}

.title-sm {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}

.button {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  background-color: #e74c3c;
  width: 228px;
  height: 59px;
  -webkit-box-shadow: 0px 2px 4.8px 0.3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4.8px 0.3px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  text-align: center;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffffff;
}

.button_transparent {
  border: 1px solid #fff;
  background-color: transparent;
}

.welcome-menu__link {
  -webkit-animation: toRight;
          animation: toRight;
  -webkit-animation-duration: calc(0.4s * var(--i));
          animation-duration: calc(0.4s * var(--i));
}

.welcome-menu__link:hover {
  color: #e74c3c;
  text-decoration: none;
}

.welcome-menu__link::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e74c3c;
  bottom: -10px;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  left: 0;
}

.welcome-menu__link:hover::before {
  left: 50%;
  opacity: 1;
}

.welcome .menu-toggle {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  z-index: 10;
}

.welcome .menu-toggle .hamburger,
.welcome .menu-toggle .cross {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.welcome .menu-toggle .hamburger span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  position: relative;
  overflow: hidden;
}

.welcome .menu-toggle .hamburger span:last-child {
  margin: 0;
}

.welcome .menu-toggle .hamburger span::before, .welcome .menu-toggle .hamburger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.welcome .menu-toggle .hamburger span::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.welcome .menu-toggle .hamburger span:nth-child(2)::after, .welcome .menu-toggle .hamburger span:nth-child(2)::before {
  -webkit-transition-delay: 75ms;
          transition-delay: 75ms;
}

.welcome .menu-toggle .hamburger span:nth-child(3)::after, .welcome .menu-toggle .hamburger span:nth-child(3)::before {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.welcome .menu-toggle:hover .hamburger span::after {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.welcome .menu-toggle:hover .hamburger span::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.welcome .menu-toggle .cross span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: white;
  -webkit-transform: translateY(50%) rotate(45deg) scaleX(0);
          transform: translateY(50%) rotate(45deg) scaleX(0);
  -webkit-transition: -webkit-transform ease 200ms;
  transition: -webkit-transform ease 200ms;
  transition: transform ease 200ms;
  transition: transform ease 200ms, -webkit-transform ease 200ms;
}

.welcome .menu-toggle .cross span:last-child {
  -webkit-transform: translateY(-50%) rotate(-45deg) scaleX(0);
          transform: translateY(-50%) rotate(-45deg) scaleX(0);
}

.welcome .menu-toggle.active .hamburger span::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.welcome .menu-toggle.active .hamburger span::after {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.welcome .menu-toggle.active .cross span {
  -webkit-transition-delay: 450ms;
          transition-delay: 450ms;
  -webkit-transform: translateY(50%) rotate(45deg) scaleX(1);
          transform: translateY(50%) rotate(45deg) scaleX(1);
}

.welcome .menu-toggle.active .cross span:last-child {
  -webkit-transform: translateY(-50%) rotate(-45deg) scaleX(1);
          transform: translateY(-50%) rotate(-45deg) scaleX(1);
}

.button_welcome,
.button_transparent {
  position: relative;
}

.button_welcome i,
.button_transparent i {
  position: absolute;
  margin-right: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  left: 20px;
  bottom: 17px;
  font-size: 25px;
}

.button_welcome:hover,
.button_transparent:hover {
  background-color: rgba(231, 76, 60, 0.7);
}

.button_welcome:hover i,
.button_transparent:hover i {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.button_welcome:hover span,
.button_transparent:hover span {
  display: none;
}

.button_transparent:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@-webkit-keyframes toRight {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes toRight {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.welcome {
  background: url("../img/background/welcome-logo.png") center center/cover no-repeat;
  min-height: 800px;
  padding-top: 40px;
}

.welcome .menu-toggle {
  display: none;
}

.welcome-logo {
  width: 145px;
}

.welcome-logo img {
  width: 100%;
}

.welcome-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-menu__link {
  position: relative;
  color: #f4f5f9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.welcome-title {
  margin-top: 60px;
  font-size: 72px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  font-weight: 700;
}

.welcome .label {
  width: 200px;
}

.welcome .label .circle {
  position: relative;
  margin: 10px auto 35px;
  background-color: #e74c3c;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.welcome .label .circle:before, .welcome .label .circle::after {
  content: "";
  position: absolute;
  width: 82px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  left: 35px;
  height: 1.9px;
}

.welcome .label .circle::after {
  right: 35px;
  left: auto;
}

.welcome-subtitle {
  margin-top: 100px;
  font-size: 22px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  font-weight: 400;
}

.welcome-descr {
  width: 610px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 60px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  font-weight: 400;
}

header {
  width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  display: none;
}

.backdrop .active {
  display: block;
}

.backdrop ul {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 50%;
}

.backdrop ul li {
  margin-bottom: 20px;
}

.backdrop ul li a {
  color: #f4f5f9;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.shape {
  padding: 50px 0 130px 0;
}

.shape-wrap {
  width: 240px;
  min-height: 210px;
  overflow: hidden;
  margin: 0 auto;
}

.shape-wrap:hover .shape-wrap__quadra {
  border: solid 1px #e74c3c;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.shape-wrap:hover .shape-wrap__quadra img {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.shape-wrap:hover .shape-wrap__title {
  color: #e74c3c;
}

.shape-wrap__quadra {
  margin: 0 auto;
  margin-top: 20px;
  width: 88px;
  height: 88px;
  border: solid 1px #999;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.shape-wrap__quadra img {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.shape-wrap__title {
  margin-top: 40px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.shape-wrap__label {
  width: 44px;
  height: 3px;
  background-color: #6a6a6a;
  opacity: 0.7;
  margin: 0 auto;
  margin-top: 10px;
}

.shape-wrap__descr {
  margin-top: 5px;
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

@media (max-width: 1199px) {
  .shape-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .shape-wrap {
    width: 310px;
  }
}

@media (max-width: 991px) {
  .shape-wrap {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .shape-wrap {
    width: 310px;
    margin-top: 40px;
  }
}

@media (max-width: 1200px) {
  .welcome-menu {
    margin-right: 60px;
  }
  .welcome-logo {
    margin-left: 60px;
  }
  .welcome-title {
    font-size: 62px;
    margin-top: 50px;
  }
}

@media (max-width: 991px) {
  .welcome-logo {
    margin: 0;
  }
  .welcome-menu {
    margin: 0;
  }
  .welcome .label {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .welcome .menu-toggle {
    display: block;
  }
  .welcome .menu-sm-none {
    display: none;
  }
  .welcome-descr {
    width: auto;
  }
}

.history__descr {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
}

* {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

body, html {
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #e84a5f;
}
/*# sourceMappingURL=style.css.map */