.chronology {
    background: #111;
    .calendar {
        position: relative;
        width: 200px;
        background-color: #fff;
        border-radius: 8px;
        text-align: center;
        text-transform: capitalize;
        overflow: hidden;
        & > #monthName {
            position: relative;
            background: #ff6331;
            padding: 5px 10px;
            color: #fff;
            font-size: 30px;
            font-weight: 700;
        }
        & > #dayName {
            font-size: 20px;
            margin-top: 20px;
            font-weight: 300;
            color: #999999;
        }
        & > #dayNumber {
            font-size: 80px;
            font-weight: 700;
            color: #333333;
        }
        & > #year {
            font-size: 20px;
            color: #999999;
            margin-bottom: 20px;
            font-weight: 500;
        }
    }
}