.navbar {
    width: 200px;
    height: 100vh;
    background: #127681;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    .logo__wrap {
      height: 70px;
      background-color: rgba($color: #10375c, $alpha: 0.4);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        color: #f4f6ff;
        font-weight: 700;
        letter-spacing: 15px;
        font-size: 25px;
        transition: all 0.3s ease;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      margin-top: 20px;
      &__item {
        cursor: pointer;
        width: 100%;
        height: 50px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        a {
          width: 100%;
          color: #f4f6ff;
          font-weight: 500;
          text-decoration: none;
          transition: all .3s ease;
          span {
              padding-right: 5px;
          }
          &:hover {
            color: #ff9595;
          }
        }
      }
    }
  }
  