.slider {
  background: url("../img/slider/palm_tree.jpg") center (center/cover) no-repeat;
  position: relative;
  .btn-left,
  .btn-right {
    position: absolute;
    top: 50%;
    background-color: transparent;
    color: #3e92cc;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #f2fdff;
    &:hover {
      color: #3e92cc;
    }
  }
  .btn-left {
    left: 5%;
  }
  .btn-right {
    right: 5%;
  }
}
