:root {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  width: 200px;
  height: 100vh;
  background: #127681;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: fixed;
}

.navbar .logo__wrap {
  height: 70px;
  background-color: rgba(16, 55, 92, 0.4);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo__wrap a {
  color: #f4f6ff;
  font-weight: 700;
  letter-spacing: 15px;
  font-size: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .logo__wrap a:hover {
  text-decoration: none;
}

.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 20px;
}

.navbar .menu__item {
  cursor: pointer;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu__item a {
  width: 100%;
  color: #f4f6ff;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navbar .menu__item a span {
  padding-right: 5px;
}

.navbar .menu__item a:hover {
  color: #ff9595;
}

.counter {
  background-color: #eee;
}

.counter-box {
  -webkit-box-shadow: 0 0 5px 2px rgba(48, 57, 96, 0.5);
          box-shadow: 0 0 5px 2px rgba(48, 57, 96, 0.5);
  border: 1px solid #ff9595;
  border-radius: 7px;
  padding: 50px;
  background-color: #ff9595;
}

.counter-number {
  font-size: 130px;
  line-height: 100px;
  color: #f96d80;
  text-align: center;
  text-shadow: 2px 2px #303960;
}

.counter-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 500px;
}

.counter-header h2 {
  color: #f96d80;
  text-shadow: 2px 2px #303960;
  font-size: 45px;
  margin: 0;
}

.counter .btn {
  min-width: 40px;
  min-height: 40px;
}

.counter .btn-plus {
  background-color: #f96d80;
}

.counter .btn-minus {
  background-color: #5fdde5;
}

.counter .btn-reset {
  display: block;
  margin-top: 10px;
  width: 85px;
}

.random-hex button {
  position: relative;
  width: 200px;
  height: 40px;
}

.random-hex button:hover span {
  display: none;
}

.random-hex button:hover i {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.random-hex button i {
  position: absolute;
  top: 31%;
  left: 30px;
  -webkit-transition: all .9s;
  transition: all .9s;
}

.todo {
  background-color: #f5f5f5;
}

.todo .form-control {
  border-color: #007bff;
}

.todo .feedback {
  display: none;
}

.todo .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todo .item .complete-item {
  color: #80cfa9;
}

.todo .item .edit-item {
  color: #11b5e4;
}

.todo .item .delete-item {
  color: #d62828;
}

.todo .item .completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo .item-icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.todo .visibility {
  opacity: 0.5;
}

.todo .showItem {
  display: block;
}

.slider {
  background: url("../img/slider/palm_tree.jpg") center center/cover no-repeat;
  position: relative;
}

.slider .btn-left, .slider .btn-right {
  position: absolute;
  top: 50%;
  background: #3e92cc;
  color: #3e92cc;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 0.2rem solid #3e92cc;
  font-size: 1.2rem;
  color: #f2fdff;
}

.slider .btn-left:hover, .slider .btn-right:hover {
  background-color: transparent;
  color: #3e92cc;
}

.slider .btn-left {
  left: 5%;
}

.slider .btn-right {
  right: 5%;
}

.chronology {
  background: #111;
}

.chronology .calendar {
  position: relative;
  width: 200px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
}

.chronology .calendar > #monthName {
  position: relative;
  background: #ff6331;
  padding: 5px 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.chronology .calendar > #dayName {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
  color: #999999;
}

.chronology .calendar > #dayNumber {
  font-size: 80px;
  font-weight: 700;
  color: #333333;
}

.chronology .calendar > #year {
  font-size: 20px;
  color: #999999;
  margin-bottom: 20px;
  font-weight: 500;
}

.pick-color {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 0 0;
  background: #000;
}

.pick-color #colorPicker {
  outline: none;
  border: 2px solid #111;
  height: 50px;
  width: 50px;
  background: transparent;
  cursor: pointer;
}

.pick-color > .text {
  font-weight: 500;
}

.mosaic {
  background: #ebecf1;
  padding-top: 50px;
}

.mosaic .mosaic-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.mosaic .box {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
}

.mosaic .box.box-shadow::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.quote-container {
  height: 500px;
  width: 800px;
  background-color: #cbeaed;
  border-radius: 4px;
  -webkit-box-shadow: 1px 3px 10px 1px;
          box-shadow: 1px 3px 10px 1px;
  padding: 30px;
  text-align: center;
}

.quote-container .btn {
  display: block;
  margin: 20px auto;
  background-color: #006a71;
  padding: 10px;
  border: none;
  color: #cbeaed;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  text-transform: capitalize;
}

.quote-container .btn:hover {
  background-color: #075b61;
}

.quote-container .quote-text {
  width: 90%;
  text-align: left;
  font-size: 25px;
  color: #006a71;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.quote-container .quote-text::first-letter {
  text-transform: uppercase;
}

.quote-container .author {
  margin: 20px 0 0 450px;
  color: #075b61;
  font-weight: 800;
}

.reverse {
  background-color: #eeeeee;
}

.reverse-box {
  width: 600px;
  height: 300px;
  background-color: #4f8a8b;
  border-radius: 4px;
}

.reverse__title {
  color: #fbd46d;
  text-align: center;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: 1px 1px 1px #222831;
}

.reverse__input {
  display: block;
  padding: 2px 15px;
  outline: none;
  width: 100%;
  border: 2px solid #4f8a8b;
  border-radius: .4em;
  margin-top: 1em;
  color: #4f8a8b;
}

.reverse__input:hover {
  border-color: #fbd46d;
}

.reverse__input:focus {
  border-color: #96bb7c;
}

.reverse__input:placeholder {
  font-family: inherit;
}

.reverse-body {
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reverse-body .flex-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.reverse-select {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  color: #4f8a8b;
  height: 1.6em;
  width: 100%;
  padding-left: 40%;
  background-color: #fff;
  border: 1px solid #4f8a8b;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  border-radius: 0.4em;
}

.reverse-select:hover {
  border-color: #fbd46d;
}

.reverse-output {
  width: 200px;
  margin: 0 auto;
  min-height: 200px;
  background: #fbd46d;
  max-height: 500px;
  padding: 10px;
}

.reverse-output p {
  text-align: left;
  margin: 0;
  font-weight: 700;
  color: #222831;
}

body {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(16, 55, 92, 0.5);
          box-shadow: inset 0 0 6px rgba(16, 55, 92, 0.5);
}

body::-webkit-scrollbar-thumb {
  background: #127681;
}

hr {
  margin: 0;
}

#scroll-to-top {
  position: fixed;
  bottom: 48px;
  right: 48px;
  cursor: pointer;
  padding: 24px;
  z-index: 999;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 44px rgba(173, 181, 206, 0.75);
          box-shadow: 0 4px 44px rgba(173, 181, 206, 0.75);
  background: #fff;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

#scroll-to-top[data-show="false"] {
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

#scroll-to-top:hover {
  background-color: #121212;
  color: #fff;
}

.section {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */